@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Source Serif Pro";
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button,
a {
  background: none;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.bring-top {
  --whsize: 3em;
  width: var(--whsize);
  height: var(--whsize);
  background-color: #b6b6b6;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-size: 1em;
  position: fixed;
  right: 2em;
  bottom: 2em;
  z-index: 20;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.bring-top:hover {
  background-color: #9b9898;
}

.bring-show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  pointer-events: all;
}

.loader-container {
  background-color: #020525;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

#logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: filled 0.5s ease forwards 4s;
          animation: filled 0.5s ease forwards 4s;
  width: clamp(12em, 50vw, 40em);
}

#logo mask {
  -webkit-animation: filled 0.5s ease forwards 4s;
          animation: filled 0.5s ease forwards 4s;
}

#logo path:nth-child(2) {
  stroke-dasharray: 487;
  stroke-dashoffset: 487;
  -webkit-animation: loader 2s ease forwards;
          animation: loader 2s ease forwards;
}

#logo path:nth-child(3) {
  stroke-dasharray: 318;
  stroke-dashoffset: 318;
  -webkit-animation: loader 2s ease forwards 0.3s;
          animation: loader 2s ease forwards 0.3s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 77;
  stroke-dashoffset: 77;
  -webkit-animation: loader 2s ease forwards 0.6s;
          animation: loader 2s ease forwards 0.6s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 738;
  stroke-dashoffset: 738;
  -webkit-animation: loader 2s ease forwards 0.9s;
          animation: loader 2s ease forwards 0.9s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 469;
  stroke-dashoffset: 469;
  -webkit-animation: loader 2s ease forwards 1.2s;
          animation: loader 2s ease forwards 1.2s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 260;
  stroke-dashoffset: 260;
  -webkit-animation: loader 2s ease forwards 1.5s;
          animation: loader 2s ease forwards 1.5s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  -webkit-animation: loader 2s ease forwards 1.8s;
          animation: loader 2s ease forwards 1.8s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 112;
  stroke-dashoffset: 112;
  -webkit-animation: loader 2s ease forwards 2.1s;
          animation: loader 2s ease forwards 2.1s;
}

#logo path:nth-child(10) {
  stroke-dasharray: 416;
  stroke-dashoffset: 416;
  -webkit-animation: loader 2s ease forwards 2.4s;
          animation: loader 2s ease forwards 2.4s;
}

@-webkit-keyframes loader {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes loader {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes filled {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes filled {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

.test {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: lightgray;
  height: 1000px;
}

.hero {
  background-color: #f5f5f5;
  height: 6.5em;
  min-height: 6.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__inner {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero__signature {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__logo {
  --logoSize: clamp(4em, 10vw, 5.5em);
  width: var(--logoSize);
  height: var(--logoSize);
}

.hero__name {
  color: #131966;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__name h1 {
  font-size: clamp(1.25em, 4vw, 1.5em);
  font-weight: 500;
}

.hero__name h2 {
  font-size: clamp(0.8em, 4vw, 1em);
  font-weight: 400;
}

.hero__hamburger {
  --whsize: 30px;
  height: var(--whsize);
  width: var(--whsize);
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.hero__hamburger div {
  background-color: #131966;
  width: 21px;
  height: 3px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__hamburger div::before, .hero__hamburger div::after {
  content: "";
  background-color: #131966;
  width: 21px;
  height: 3px;
  border-radius: 8px;
  position: absolute;
}

.hero__hamburger div::before {
  top: 6px;
}

.hero__hamburger div::after {
  bottom: 6px;
}

.navigation {
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  width: 270px;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 100;
  -webkit-transform: translateX(280px);
          transform: translateX(280px);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.navigation__inner {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.navigation__header {
  background-color: #f5f5f5;
  height: 180px;
  min-height: 180px;
  padding: 0.5em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
}

.navigation__header .close-btn {
  position: absolute;
  top: 10%;
  left: 5%;
  cursor: pointer;
}

.navigation__header .close-btn:hover {
  color: gray;
}

.navigation__logo {
  --whsize: 90px;
  width: var(--whsize);
  height: var(--whsize);
}

.navigation__name {
  color: #131966;
  border-bottom: 1px solid black;
  padding: 0em 1.5em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__name h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.navigation__name h2 {
  font-size: 0.8rem;
  font-weight: 400;
}

.navigation__body {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  height: auto;
}

.navigation__footer {
  min-height: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__footer h6 {
  font-size: 10px;
}

.navigation__footer p {
  font-size: 9px;
}

.menu {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.menu__btn {
  border-radius: 3px;
  width: 100%;
  padding: 1.5em 2em 1.5em 1.5em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__btn span {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.menu__btn:hover {
  background: #d3d2d2;
}

.menu__container {
  background-color: #e6e6e6;
  overflow: hidden;
  width: 100%;
  padding: 0 0.25em;
  opacity: 0;
  pointer-events: none;
  max-height: 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.menu__box a {
  color: #000000;
  border-radius: 3px;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  font-family: "Poppins";
  display: inline-block;
  width: 100%;
  height: 100%;
}

.menu__box a:hover {
  background: #b6b6b6;
}

.menu__header {
  display: none;
}

.menu__section h3 {
  border-bottom: 1px solid black;
  margin: 3px 0;
  padding: 0.25em 0 0.25em 0em;
  text-align: center;
}

.collapse {
  padding: 0.25em;
  opacity: 1;
  pointer-events: all;
}

.btn-active {
  background: #d3d2d2;
}

.open-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.arrow-active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.drop-active {
  background-color: #eeeeee;
}

@media (min-width: 28.5em) and (max-width: 57.75em) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 57.75em) {
  html {
    font-size: 21px;
  }
  .hero__signature {
    margin-right: clamp(0.5em, 3vw, 2em);
    width: 18em;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .hero__hamburger {
    display: none;
  }
  .navigation {
    height: 100%;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
            transform: none;
    position: static;
  }
  .navigation__inner {
    height: 90%;
    width: 100%;
    overflow-y: hidden;
    scrollbar-width: none;
  }
  .navigation__header {
    display: none;
  }
  .navigation__body {
    height: 100%;
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navigation__footer {
    display: none;
  }
  .menu__btn {
    padding: 1em 0.75em;
    width: 120%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menu__btn:hover {
    background-color: #eeeeee;
  }
  .menu__container {
    position: absolute;
    width: clamp(8em, 18vw, 13em);
    border-radius: 3px;
  }
  .menu__mega {
    height: 23rem;
    padding: 2em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 10% 90%;
        grid-template-rows: 10% 90%;
    gap: 1em 0em;
  }
  .menu__header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    display: block;
  }
  .menu__section {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    width: 95%;
  }
  .menu__section h3 {
    font-size: clamp(0.9em, 2vw, 1.25em);
  }
  .menu__section:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .menu__section:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .menu__section:nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .menu__section:nth-child(5) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
  }
  .menu:nth-child(2) .menu__container {
    left: 0;
    width: 100%;
  }
}

.main {
  --minmaxheight: 40em;
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 13em 1fr;
      grid-template-rows: 13em 1fr;
  min-height: var(--minmaxheight);
  max-height: var(--minmaxheight);
}

.main__left {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  grid-column: 1;
  position: relative;
}

.main__years {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.main__years h2 {
  position: absolute;
  font-size: 6em;
  font-family: "Poppins";
  font-weight: 900;
  opacity: 0.05;
}

.main__years h2:first-child {
  top: 10%;
  left: 10%;
}

.main__years h2:last-child {
  right: 10%;
  bottom: 20%;
}

.main__container {
  position: relative;
  height: 24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main__container .heading {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main__container .heading h1 {
  font-size: 2em;
  max-width: 475px;
  text-align: center;
}

.main__container .heading div {
  background-color: #131966;
  height: 3px;
  width: 12rem;
}

.main__container p {
  text-align: center;
  font-size: 0.95em;
  padding: 0 4em;
  max-width: 40rem;
  line-height: 3ch;
}

.main__container a {
  background-color: #131966;
  color: #ffffff;
  padding: 0.75em 1.25em;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

.main__container a:hover {
  background-color: #151c85;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.main__right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 12em 1fr;
      grid-template-rows: 12em 1fr;
  position: relative;
  overflow: hidden;
}

.slider__container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  max-width: 800px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider {
  --imageWidth: 200px;
  --imageHeight: 125px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: var(--imageWidth);
  height: var(--imageHeight);
  position: relative;
}

.slider__tracker {
  list-style-type: none;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.slider__img {
  height: 100%;
  width: 100%;
  max-height: var(--imageHeight);
  position: absolute;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  opacity: 0.2;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.slider__dots {
  padding: 40px 0 0 0;
  width: 20em;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slider__dot {
  background-color: darkgray;
  width: 16px;
  height: 5px;
  cursor: pointer;
}

.slider__stop {
  background-color: #b91313;
  color: white;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  position: absolute;
  width: 80px;
  padding: 0.5em 0;
  border-radius: 0.125em;
  bottom: -10%;
  left: 50%;
  opacity: 0.2;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 20;
}

.slider__stop:hover, .slider__stop:active {
  opacity: 0.7;
}

.prev-btn,
.next-btn {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 5em;
  width: 2.25em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -75%);
          transform: translate(0, -75%);
  z-index: 50;
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.7);
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.current-slide {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
  z-index: 2;
}

.current-dot {
  background-color: dimgray;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media (min-width: 28.5em) and (max-width: 57.75em) {
  .main {
    --minmaxheight: 36em;
    font-size: 24px;
    -ms-grid-rows: 15em 1fr;
        grid-template-rows: 15em 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main__years h2 {
    font-size: 5em;
  }
  .main__right {
    -ms-grid-rows: 18em 1fr;
        grid-template-rows: 18em 1fr;
  }
  .main__container {
    font-size: clamp(14px, 3vw, 18px);
    height: 28rem;
  }
  .main__container .heading {
    font-size: clamp(18px, 3vw, 26px);
  }
  .slider {
    --imageWidth: 320px;
    --imageHeight: 200px;
    max-width: var(--imageWidth);
    max-height: var(--imageHeight);
    width: calc(50vw + 1rem);
    height: calc(30vw + 1rem);
  }
  .slider__dot {
    width: 19px;
  }
  .current-dot {
    background-color: dimgray;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  .prev-btn,
  .next-btn {
    font-size: clamp(8px, 4vw, 26px);
  }
}

@media (min-width: 57.75em) {
  .main {
    --minmaxheight: 28em;
    -ms-grid-columns: minmax(26em, 1fr) 1fr;
        grid-template-columns: minmax(26em, 1fr) 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    max-height: var(--minmaxheight);
    min-height: var(--minmaxheight);
  }
  .main__left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .main__right {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-rows: 24em 1fr;
        grid-template-rows: 24em 1fr;
  }
  .main__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__container .heading {
    margin: 0 4em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__container .heading h1 {
    text-align: start;
  }
  .main__container p {
    text-align: start;
  }
  .main__container a {
    margin: 0em 4em;
    font-size: 0.9em;
  }
  .slider__container {
    height: 450px;
  }
  .slider {
    --imageWidth: 28em;
    --imageHeight: 14em;
    height: clamp(2em, 30vw, var(--imageHeight));
    width: clamp(2em, 30vw, var(--imageWidth));
  }
  .slider__dots {
    margin: 30px 0 0 0;
    padding: 20px 0 0 0;
    width: clamp(2em, 40vw, 40em);
  }
  .slider__dot {
    width: 24px;
  }
  .current-dot {
    background-color: dimgray;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}

.marian {
  height: 38em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 10em 16em 6em;
      grid-template-rows: 10em 16em 6em;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.marian__heading {
  height: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.marian__heading div {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.marian__heading div h2 {
  font-size: 1.75em;
}

.marian__heading div p {
  font-size: 0.6em;
}

.marian__news {
  width: 100%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.marian__card {
  --card-width: 15.75em;
  width: var(--card-width);
  max-width: var(--card-width);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

.marian__img {
  width: 14em;
  height: 10em;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.marian__journal {
  --border-left-right: 20px;
  --transformY: -3.75em;
  -webkit-transform: translateY(var(--transformY));
          transform: translateY(var(--transformY));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.marian__footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.marian__footer p {
  font-size: 0.85em;
  text-align: center;
  padding: 0 0.5em;
}

.marian__footer p:before {
  font-family: sans-serif;
  content: open-quote;
  opacity: 0.6;
}

.marian__footer p:after {
  content: close-quote;
  font-family: sans-serif;
  opacity: 0.6;
}

.marian__footer a {
  background-color: #131966;
  color: #ffffff;
  padding: 0.75em 1.5em;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

.marian__footer a:hover {
  background-color: #151c85;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.journal {
  --neomorp: 0px 0px 5px rgba(94, 94, 94, 0.7);
  background-color: white;
  -webkit-box-shadow: var(--neomorp);
          box-shadow: var(--neomorp);
  width: 11em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  overflow: hidden;
}

.journal__heading {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0.6em;
}

.journal__heading > div:first-child h3 {
  font-weight: 900;
  font-size: 0.75em;
}

.journal__heading > div:first-child p {
  color: gray;
  font-size: 0.5em;
}

.journal__heading > div:last-child {
  --img-wh: 2.125em;
  width: var(--img-wh);
  height: var(--img-wh);
  border-radius: 50%;
  overflow: hidden;
}

.journal__tags {
  height: 1.25em;
  padding: 0.2em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.journal__tags div {
  outline: 1px solid black;
  padding: 0.05em 0.7em;
  border-radius: 10px;
  font-size: 0.5em;
}

.journal__tags > div:not(:first-child) {
  margin: 0 0 0 5px;
}

.journal__reaction {
  height: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
}

.journal__reaction > div:first-child {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.6em;
}

.journal__reaction > div:first-child div:not(:first-child) {
  margin: 0 0 0 5px;
}

.journal__reaction > div:last-child {
  font-size: 0.5em;
}

@media (min-width: 28.5em) and (max-width: 57.75em) {
  .marian {
    font-size: 21px;
    -ms-grid-rows: 10em 18em 6em;
        grid-template-rows: 10em 18em 6em;
  }
  .marian__card {
    font-size: clamp(1em, 4vw, 1.15em);
  }
  .journal__heading > div:first-child h3 {
    font-size: clamp(0.85em, 2vw, 1.25em);
  }
  .journal__heading > div:first-child p {
    font-size: 0.6em;
  }
}

@media (min-width: 57.75em) {
  .marian {
    font-size: 22px;
    -ms-grid-rows: 10em 20em 6em;
        grid-template-rows: 10em 20em 6em;
  }
  .marian__img {
    width: 15em;
  }
  .marian__card {
    font-size: clamp(1.25em, 4vw, 1.35em);
    --card-width: 16em;
  }
  .journal {
    width: 13em;
  }
  .journal__heading > div:first-child h3 {
    font-size: clamp(0.85em, 2vw, 0.95em);
  }
  .journal__heading > div:first-child p {
    font-size: 0.6em;
  }
}

.grab {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.events {
  position: relative;
}

.events__col-1 {
  --transX: -7.5em;
  --iconsize: 1.5em;
  --iconheight: 2.5em;
  --fontweight-icon: 200;
  --fontfamily-icon: "Poppins", sans-serif;
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 90%;
  pointer-events: none;
}

.events__col-2 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20em 15em 1fr 2.5em;
      grid-template-rows: 20em 15em 1fr 2.5em;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.calendar {
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  left: 0;
}

.calendar__heading h4 {
  height: var(--iconheight);
  width: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: all;
  font-weight: var(--fontweight-icon);
  font-family: var(--fontfamily-icon);
  background-color: #131966;
  color: white;
  border-radius: 0 15px 15px 0;
  padding: 0.7em 0.6em;
  -webkit-transform: translateX(var(--transX));
          transform: translateX(var(--transX));
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  cursor: pointer;
}

.calendar__heading h4 span {
  font-size: var(--iconsize);
  color: white;
}

.calendar__heading h4:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.calendar__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calendar__month {
  padding: 1.5em 0.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.calendar__month h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-size: 1.25em;
  letter-spacing: 3px;
}

.calendar__cards {
  display: none;
}

.calendar__card {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid #131966;
  width: 10em;
  height: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 1em;
}

.calendar__card:not(:first-child) {
  margin-top: 10px;
}

.calendar__day {
  outline: 1px solid black;
}

.calendar__day p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  --whsize: 2em;
  width: var(--whsize);
  height: var(--whsize);
  font-size: 1em;
}

.calendar__event {
  width: 100%;
  padding: 0.5em 1em;
}

.calendar__event h4 {
  text-align: start;
  font-size: 0.7em;
}

.socialmedia {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: none;
}

.socialmedia__icon {
  width: 10em;
  height: var(--iconheight);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-weight: var(--fontweight-icon);
  font-family: var(--fontfamily-icon);
  padding: 1.25em 0.6em;
  border-radius: 0 15px 15px 0;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  pointer-events: all;
}

.socialmedia__icon i {
  font-size: var(--iconsize);
  color: white;
}

.socialmedia__icon:where(:nth-child(1)) {
  -webkit-transform: translateX(var(--transX));
          transform: translateX(var(--transX));
  background-color: #3b5998;
}

.socialmedia__icon:where(:nth-child(1)):hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.socialmedia__icon:where(:nth-child(2)) {
  -webkit-transform: translateX(var(--transX));
          transform: translateX(var(--transX));
  background-color: #e62117;
}

.socialmedia__icon:where(:nth-child(2)):hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.socialmedia__icon:where(:nth-child(3)) {
  -webkit-transform: translateX(var(--transX));
          transform: translateX(var(--transX));
  background-color: #006192;
}

.socialmedia__icon:where(:nth-child(3)):hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.bro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bro h4 {
  font-size: 1.45em;
}

.bro video {
  width: 80%;
  height: auto;
}

.daily-verse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2em;
}

.daily-verse h4 {
  font-size: 1.25em;
  padding: 0.5em 0.75em;
}

.daily-verse p {
  text-align: center;
  padding: 0.5em 1.75em;
  font-size: 0.9em;
}

.faq {
  width: 18em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.faq__title {
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq__title h4 {
  font-size: 1.25em;
}

.faq__inquiry {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

.faq__btn {
  padding: 1.25em 1.5em;
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.faq__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.faq__container p {
  border-left: 1px solid black;
  padding: 0em 1em;
  height: 100%;
  font-size: 0.8em;
}

.active {
  background-color: lightcyan;
  pointer-events: all;
  opacity: 1;
  padding: 3em 1.75em;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 28.5em) and (max-width: 57.75em) {
  .events__col-1 {
    --transX: -7.25em;
    --iconsize: 1.75em;
    --iconheight: 3em;
  }
  .events__col-2 {
    -ms-grid-rows: 32em 15em 1fr 2.5em;
        grid-template-rows: 32em 15em 1fr 2.5em;
  }
  .bro {
    font-size: 1.5em;
  }
  .daily-verse {
    font-size: 1.15em;
  }
  .faq {
    font-size: 1.35em;
    width: 21em;
  }
}

@media (min-width: 57.75em) {
  .events {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 12.5em 1fr;
        grid-template-columns: 12.5em 1fr;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .events__col-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    position: relative;
    top: 0;
    -webkit-box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
    --iconsize: 1.5em;
  }
  .events__col-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    margin: 0 0 4em 0;
    -ms-grid-rows: 32em 15em 1fr;
        grid-template-rows: 32em 15em 1fr;
  }
  .calendar {
    padding: 1.5em 1.25em;
    pointer-events: all;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    left: 0;
  }
  .calendar__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    pointer-events: all;
  }
  .calendar__heading h4 {
    border-bottom: 1px solid black;
    font-size: 1em;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    padding: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    cursor: text;
  }
  .calendar__heading h4 span {
    display: none;
  }
  .calendar__month {
    display: block;
  }
  .calendar__month h4 {
    font-size: 0.8em;
  }
  .calendar__cards {
    display: block;
  }
  .socialmedia {
    margin-top: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    pointer-events: all;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socialmedia__name {
    display: none;
  }
  .socialmedia__icon {
    width: 3em;
    height: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0;
    padding: 1em 1em;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .bro {
    font-size: 1.5em;
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .daily-verse {
    font-size: 0.9em;
  }
  .faq {
    font-size: 1em;
    width: 28em;
  }
}

.smcm {
  background-color: #040837;
  height: 30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.smcm__word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20em;
}

.smcm__logo {
  --whsize: 10em;
  width: var(--whsize);
  height: var(--whsize);
}

.smcm__signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 6em;
}

.smcm__signature h1 {
  color: white;
  letter-spacing: 3px;
  font-size: 1.75em;
  font-weight: 200;
  font-family: "Source Serif Pro";
}

.smcm__signature p {
  color: white;
  letter-spacing: 2px;
  font-family: "Source Serif Pro";
  font-weight: 200;
  font-size: 1.25em;
}

.smcm__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.smcm__tag p {
  color: white;
  width: 24ch;
  font-size: 1.25em;
  font-family: "Satisfy", sans-serif;
  text-align: center;
}

.smcm__links {
  display: none;
}

footer {
  background-color: #020525;
  padding: 0.5em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.6em;
}

@media (min-width: 57.75em) {
  .smcm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25em;
  }
  .smcm__word {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 45em;
  }
  .smcm__links {
    width: 35em;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .smcm__smcmlinks h4 {
    color: white;
    font-size: 1.15em;
    padding: 0.5em 0.3em;
  }
  .smcm__smcmlinks ul {
    color: white;
  }
  .smcm__smcmlinks ul li {
    padding: 0.5em 0.3em;
  }
  .smcm__smcmlinks ul li a {
    color: white;
    font-size: 0.8em;
  }
  .smcm__smcmsocials h4 {
    color: white;
    font-size: 1.15em;
    padding: 0.5em 0.3em;
  }
  .smcm__smcmsocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .smcm__smcmsocial a {
    font-size: 0.8em;
  }
  .smcm__smcmsocial a span {
    color: white;
    width: 7em;
    padding: 0.5em 0.3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .smcm__smcmsocial a span i {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=style.css.map */